# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



#     VITE_apiKey=AIzaSyA6sTFrlScxe0DiM6N3-XH55c_8ENLrluQ
#   VITE_authDomain=car-service-client-bfc06.firebaseapp.com
#   VITE_projectId=car-service-client-bfc06
#   VITE_storageBucket=car-service-client-bfc06.appspot.com
#   VITE_messagingSenderId=74134059710
#   VITE_appId=1:74134059710:web:ca921addba2a0db8d0bcef